<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>227694424139-d89qdk4mujk5v6v8aokpu5aga6bc5vv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227694424139-d89qdk4mujk5v6v8aokpu5aga6bc5vv7</string>
	<key>API_KEY</key>
	<string>AIzaSyAjtCC_DeO3iUCjfKHLDmGL5CIHtqrQh6s</string>
	<key>GCM_SENDER_ID</key>
	<string>227694424139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Rubenmobile.UTARider</string>
	<key>PROJECT_ID</key>
	<string>utarider-dbe05</string>
	<key>STORAGE_BUCKET</key>
	<string>utarider-dbe05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227694424139:ios:6c4c37c7008f085c</string>
	<key>DATABASE_URL</key>
	<string>https://utarider-dbe05.firebaseio.com</string>
</dict>
</plist>